<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FileDescription" type="FileDescription" />
    <section name="VIZNETSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <VIZNETSettings>
    <add key="RedistPath" value="C:\Program Files (x86)\Adroit Technologies\Adroit\SmartUI\Distribution" />
    <add key="ExcludeList" value="WebOperator.dll;WebOperator.dll.config;WebOperator.htm;VIZNET.PluginList.xml;SecurityPolicy.msi;WebConfigFileUpdater.exe" />
    <add key="ServiceName" value="VIP Distributor" />
    <add key="Port" value="9010" />
  </VIZNETSettings>
  <FileDescription>
    <add key="FileDescription" value="The VIP Distribution service specifies the files and folders that a VIP Launcher&#xD;&#xA;is able to download if it connects to this computer. The VIP Distributor service is installed &#xD;&#xA;with the Server by the Portal installation, designating the “Distribution” sub-folder of the &#xD;&#xA;Portal installation folder, typically C:\Program Files\Portal\Distribution as the required &#xD;&#xA;distribution folder. The Distributor provides a number of customizable settings, which can be &#xD;&#xA;used to customize it to conform to your default requirements. These settings are initialized &#xD;&#xA;to default values once the installation has completed. The onus rests upon the user to provide &#xD;&#xA;the correct values when modifying settings, therefore if you are unsure about a setting, use &#xD;&#xA;the existing default value instead">
      <property type="string" description="" category="">
      </property>
    </add>
  </FileDescription>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>