<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ConnectionSettings" type="System.Configuration.NameValueSectionHandler">
    </section>
    <section name="ClusterSettings" type="System.Configuration.NameValueSectionHandler">
    </section>
    <section name="FileDescription" type="FileDescription">
    </section>
    <section name="VIZNETSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <VIZNETSettings>
    <!-- Inactivity time (in seconds) that will force the Application to logoff -->
    <add key="AutoLogoffSeconds" value="28800">
      <property type="string" description="Inactivity time (in seconds) that will force the Application to logoff - This setting is only read on initial load, thereafter it is editable from the profile editor in the designer" category="ConnectionSettings">
      </property>
    </add>
    <!-- Maintain a cache folder locally, do not make it part of the User folder -->
    <add key="MaintainLocalCache" value="false">
      <property type="bool" description="Maintain a cache folder locally, do not make it part of the User folder" category="ConnectionSettings">
      </property>
    </add>
    <!-- Custom Splash image -->
    <add key="SplashImageRelativePath" value="images\SUI_OperatorSplash.png">
      <property type="file" description="Custom Splash image [Relative to Installation Directory]" category="" />
    </add>
    <!-- A progress notification will be displayed for web connections when the data to be transmitted is larger than the value below (in bytes). If this value is 0, no progress notification will be displayed -->
    <add key="WebProgressNotificationThreshold" value="50000">
      <property type="string" description="A progress notification will be displayed for web connections when the data to be transmitted is larger than the value below (in bytes/s). If this value is 0, no progress notification will be displayed" category="ConnectionSettings">
      </property>
    </add>
    <!-- The Unique Identifier For This Client -->
    <add key="ClientId" value="Client1">
      <property type="string" description="The Unique Identifier For This Client" category="">
      </property>
    </add>
    <!-- Script References path, seperated by ; not ending with ;-->
    <add key="ReferencesPath" value="">
      <property type="path" description="Script References path, seperated by ; not ending with ;" category="Scripting">
      </property>
    </add>
    <!-- Enable or Disable compression in the comms layer -->
    <add key="UseCompression" value="false">
      <property type="bool" description="Enable or Disable compression in the communication layer between client and server; NOTE: It is best to leave this 'false' in Designer and 'true' in Operator" category="Compression">
      </property>
    </add>
    <add key="CachedDataSourceList" value="ExampleProject:Project;Profile:Profiles">
      <property type="string" description="Client DataSource Cache List (used in conjunction with DataElementCachingRetrieveRegardless)" category="Caching">
      </property>
    </add>
    <!-- DeadBand Time (in ms) on incoming subscription updates -->
    <add key="SubscriptionsDeadBandTime" value="500">
      <property type="string" description="DeadBand Time (in ms) on incoming subscription updates; Use where CPU load is high and subscription updates come through quicker than humanly actionable;" category="ConnectionSettings">
      </property>
    </add>
    <add key="FirstGroupMemberships" value="user1:group1;user2:group2">
      <property type="bool" description="Security memberships per user (used in conjunction with DataElementCachingRetrieveRegardless)" category="Caching">
      </property>
    </add>
    <!-- Enable Graphic Form Script Execution in preview mode and Operator -->
    <add key="GraphicFormScriptEnabled" value="true">
      <property type="bool" description="Enable Graphic Form Script Execution in preview mode and the Operator" category="Scripting">
      </property>
    </add>
    <!-- Script References to be loaded into the script engine for every script by default. Seperate with , -->
    <add key="DefaultReferences" value="System.dll,System.Drawing.dll,System.Windows.Forms.dll,System.XML.dll,VIZNET.Shared.dll,VIZNET.UI.Runtime.dll,VIZNET.Shared.Interfaces.dll,VIZNET.Shared.ScriptEngine.dll">
      <property type="string" description="Script References to be loaded into the script engine for every script by default. Seperate with ," category="Scripting">
      </property>
    </add>
    <!-- The relative folder to export script projects to for editing in an external editor -->
    <add key="ScriptsExportFolder" value="ScriptsExport">
      <property type="string" description="The relative folder to export script projects to for editing in an external editor" category="Scripting">
      </property>
    </add>
    <!-- Setting exposed to scripts to allow for conditional script debugging -->
    <add key="ScriptDebuggingEnabled" value="False">
      <property type="bool" description="Setting exposed to scripts to allow for conditional script debugging" category="Scripting">
      </property>
    </add>
    <!-- Should the application restart when a critical (unhandled error) occurs? -->
    <add key="RestartOnCriticalError" value="true">
      <property type="bool" description="Should the application restart when a critical (unhandled error) occurs?" category="">
      </property>
    </add>
    <!-- Custom Startpage image, must be larger than (550,300) else stretched -->
    <add key="StartPageImageRelativePath" value="images\SUIClientStartPage.png">
      <property type="file" description="Custom Startpage image, must be larger than (550,300) else stretched" category="">
      </property>
    </add>
    <!-- Custom Controls Relative Path -->
    <add key="CustomControlsRelativePath" value="plugins">
      <property type="relativepath" description="Custom Controls Relative Path " category="">
      </property>
    </add>
    <!-- Custom Caption for the Operator Titlebar -->
    <add key="UserInterfaceCaption" value="Adroit Smart UI Operator - [{0}]">
      <property type="string" description="Custom Caption for the Operator Titlebar" category="Appearance">
      </property>
    </add>
    <!-- Default Graphic Form Size for those without a saved size -->
    <add key="DefaultGraphicFormSize" value="1024,768">
      <property type="string" description="Graphic Form Default creation Size. (width, height)" category="">
      </property>
    </add>
    <!-- r,g,b -->
    <add key="StartPageBackgroundColor" value="89,89,89">
      <property type="color" description="r,g,b" category="Appearance">
      </property>
    </add>
    <!-- Powered By image overlay location, repositioned if out of bounds. -->
    <add key="PoweredByImageLocation" value="1600,1200">
      <property type="string" description="Powered By image overlay location, repositioned if out of bounds." category="Appearance">
      </property>
    </add>
    <!-- User Interface Window Startup Size. (width, height) -->
    <add key="UserInterfaceStartupSize" value="1366,768">
      <property type="string" description="User Interface Window Startup Size. (width, height)" category="Appearance">
      </property>
    </add>
    <!-- User Interface Window Startup WindowState. (0=Normal, 1=Minimized, 2=Maximized) -->
    <add key="UserInterfaceStartupState" value="2">
      <property type="ilist" description="User Interface Window Startup WindowState. (0=Normal, 1=Minimized, 2=Maximized)" category="Appearance" ilist="0;1;2">
      </property>
    </add>
    <!-- User Interface Window Startup Location (x,y), repositioned if out of bounds. -->
    <add key="UserInterfaceStartupLocation" value="50,50">
      <property type="string" description="User Interface Window Startup Location (x,y), repositioned if out of bounds." category="Appearance">
      </property>
    </add>
    <!-- Maximum Number of Modeless or Modal Dialogs to open. -->
    <add key="OpenDialogMaxCount" value="5">
      <property type="string" description="Maximum Number of Modeless or Modal Dialogs to open" category="">
      </property>
    </add>
    <!-- Show the progress bars content window (true or false) -->
    <add key="ShowLoadingProgress" value="true">
      <property type="bool" description="Show the bigger loading progress Image when loading (true or false)" category="Appearance">
      </property>
    </add>
    <!-- Show the progress bars content window (true or false) -->
    <add key="ShowProgressBars" value="false">
      <property type="bool" description="Show the progress bars content window (true or false)" category="">
      </property>
    </add>
    <!-- Show status bad indicators for bad data elements (true or false) -->
    <add key="ShowStatusBadIndicators" value="true">
      <property type="bool" description="Show status bad indicators for bad data elements (true or false)" category="">
      </property>
    </add>
    <!-- Specify the ammount of detail to be shown in the progress bar window (0 = minimal, 5 = maximum)-->
    <add key="ProgressItemDebugLevel" value="0">
      <property type="ilist" description="Specify the ammount of detail to be shown in the progress bar window (0 = minimal, 5 = maximum)" category="" ilist="Normal;Low;Meduim;High;Developer">
      </property>
    </add>
    <!-- client side plugins to create, the value is the plugins type. Seperate with ; -->
    <add key="ClientDataSourcePlugins" value="">
      <property type="string" description="Client side plugins to create, the value is the plugins type. Seperate with ;" category="DataSources">
      </property>
    </add>
    <!-- Enable Caching Of DataElements in the Operator; "true" = Yes; "false" = No -->
    <add key="DataElementCachingEnabled" value="true">
      <property type="bool" description="Enable Caching Of DataElements in the Operator; true = Yes; false = No" category="Caching">
      </property>
    </add>
    <!-- Retrieve data element from cache regardless of a newer version available (only applicable if caching is enabled) -->
    <add key="DataElementCachingRetrieveRegardless" value="false">
      <property type="bool" description="Retrieve data element from cache regardless of a newer version available (only applicable if caching is enabled)" category="Caching">
      </property>
    </add>
    <!-- Retrieve data element from cache regardless of a newer version available (only applicable if caching is enabled) -->
    <add key="CachingSecurity" value="True">
      <property type="bool" description="Caching of security settings (will only retrieve once from server on login)" category="Caching">
      </property>
    </add>
    <!-- Use Generic names in the CACHE File (do not attach servername); "true" = Yes; "false" = No; Set to false ONLY if duplicate graphic forms exist on MULTIPLE Server connections -->
    <add key="DataElementCachingUseGenerics" value="true">
      <property type="bool" description="Use Generic names in the CACHE File (do not attach servername); true = Yes; false= No; Set to false ONLY if duplicate graphic forms exist on MULTIPLE Server connections" category="Caching">
      </property>
    </add>
    <!-- Subscriptions are trickled across the wire when the comms lines is not busy. The trickling also reduces traffic when a user moves between forms quickly and allows for good response times over slow links -->
    <add key="TrickleSubscriptions" value="100">
      <property type="string" description="Trickle subscriptions; The amount of subscriptions which will be grouped together to trickle across the network; if less subscriptions are currently queued, and the wait time has been exceeded, the lesser amount will be sent across the network. 0 to disable." category="ConnectionSettings">
      </property>
    </add>
    <add key="TrickleSubscriptionsWaitTime" value="1000">
      <property type="string" description="Trickle subscriptions wait time; How long to wait before interrogating the network congestion state which is specified via TrickleSubscriptionsCommsBusyPacketSize" category="ConnectionSettings">
      </property>
    </add>
    <add key="TrickleSubscriptionsCommsBusyPacketSize" value="800000">
      <property type="string" description="The size in bytes/second which will indicate that the comms line is currently busy and that the subscription requests should be queued until the line is less congested." category="ConnectionSettings">
      </property>
    </add>
    <!-- Should the Operator backup its data files? true = Yes; false = No; -->
    <add key="BackupEnabled" value="false">
      <property type="bool" description="Should the Operator backup its data files? true = Yes; false = No;" category="">
      </property>
    </add>
    <!-- List of datasourcetypes of datasources to be shown in the Operator tree, default Project -->
    <add key="VisibleOperatorDatasourceTypes" value="Project;Adroit">
      <property type="string" description="List of datasourcetypes of datasources to be shown in the Operator tree." category="">
      </property>
    </add>
    <!-- Allow multiple instances of Operator on this Machine true = Yes; false = No; -->
    <add key="AllowMultipleInstances" value="false">
      <property type="bool" description="Allow multiple instances of the Operator on this Machine true = Yes; false = No;" category="">
      </property>
    </add>
    <!-- Force language -->
    <add key="ForceLanguage" value="">
      <property type="string" description="Force a specific language when running this application; Language code must be used i.e. German=de, Japanese=ja English=en etc." category="">
      </property>
    </add>
    <!-- Suppress all error messages to eventlog instead of through dialogs -->
    <add key="SuppressErrorMessagesToEventLog" value="true">
      <property type="bool" description="Suppress all error messages to the eventlog instead of through dialogs." category="">
      </property>
    </add>
    <!-- Specify the target framework version to be used when compiling and running Scripts)-->
    <add key="TargetFramework" value="v4.0">
      <property type="ilist" description="Specify the target framework version to be used when compiling and running Scripts" category="Scripting" ilist="v2.0;v3.5;v4.0">
      </property>
    </add>
    <!-- Product Name -->
    <add key="ProductName" value="Adroit Smart UI">
      <property type="string" description="Specify the product name of the Operator." category="">
      </property>
    </add>
    <!-- Product Color -->
    <add key="ProductColor" value="202,37,45">
      <property type="color" description="The Product Color - used to indicate the actual product within the product suite" category="">
      </property>
    </add>
    <!-- Product Version -->
    <add key="ProductVersion" value="[8.3.0.0]">
      <property type="string" description="Specify the product version of the Operator." category="">
      </property>
    </add>
    <!-- Should the splash screen be showed on startup -->
    <add key="ShowSplashScreen" value="False">
      <property type="bool" description="Show the splash screen at startup" category="">
      </property>
    </add>
    <!-- The category that EventLog entries will be written to -->
    <add key="EventLogCategory" value="Application">
      <property type="string" description="The category that EventLog entries will be written to." category="">
      </property>
    </add>
    <!-- EventLog entries generated will attempt to log to this machine -->
    <add key="EventLogMachine" value=".">
      <property type="string" description="EventLog entries generated will attempt to log to this machine" category="">
      </property>
    </add>
    <!-- The program or component that logged the event -->
    <add key="EventLogSource" value="SmartUI Operator">
      <property type="string" description="The program or component that logged the event. " category="">
      </property>
    </add>
    <add key="LocalPersistenceFolder" value="C:\ProgramData\Adroit Technologies\Adroit\SmartUI\LocalPersistence" />
  </VIZNETSettings>
  <ConnectionSettings>
    <!-- Default for the autoLogin property -->
    <add key="AutoLogin" value="False">
      <property type="bool" description="Enable the user to login automatically" category="ConnectionSettings">
      </property>
    </add>
    <!-- Default for the autoLogin visible property -->
    <add key="AutoLoginVisible" value="True">
      <property type="bool" description="Enable the user to display the AutoLogin checkbox" category="ConnectionSettings">
      </property>
    </add>
    <!-- Default connection user name -->
    <add key="DefaultUserName" value="feituser">
      <property type="string" description="Default connection user name" category="ConnectionSettings">
      </property>
    </add>
    <!-- Default machine which to connect to -->
    <add key="DefaultConnection" value="localhost">
      <property type="string" description="Default machine which to connect to" category="ConnectionSettings">
      </property>
    </add>
    <!-- Default port to use with the DefaultConnection -->
    <add key="DefaultConnectionPort" value="">
      <property type="string" description="Default port to use with the DefaultConnection" category="ConnectionSettings">
      </property>
    </add>
    <!-- Default connection type -->
    <add key="DefaultConnectionType" value="MAINDATAPROVIDER">
      <property type="ilist" description="MAINDATAPROVIDER: This connection method is usually employed if the&#xD;&#xA;      connection is made via a LAN. It supports the SUBSCRIBE communication method.&#xD;&#xA;      WEBSERVICEDATAPROVIDER: This connection method can be used to connect via HTTP to a VIZNET Server available via the &#xD;&#xA;      Internet." category="ConnectionSettings" ilist="MAINDATAPROVIDER;WEBSERVICEDATAPROVIDER">
      </property>
    </add>
    <!-- Default connection mode -->
    <add key="DefaultCommunicationMode" value="SUBSCRIBE">
      <property type="ilist" description="SUBSCRIBE: This is a push-based communication method in which &#xD;&#xA;the Client waits for the data that has changed to be pushed, or sent to it. In &#xD;&#xA;this case the Client never looks for new data, it always uses data pushed from &#xD;&#xA;the Server.SUBSCRIBE_POLL: The Client will fetch all the values that have changed since the time of the &#xD;&#xA;last polling period. POLL: The Client will only fetch the most recent value at the time of the polling &#xD;&#xA;period." category="ConnectionSettings" ilist="SUBSCRIBE;SUBSCRIBE_POLL;POLL">
      </property>
    </add>
    <!-- Default for the Client TimeOut property -->
    <add key="ServiceRequestTimeOut" value="59">
      <property type="string" description="The timeout interval (in seconds) for service requests to the Server (for example Loading graphic forms)" ategory="ConnectionSettings">
      </property>
    </add>
    <!-- Time interval that the client pings the server, in seconds-->
    <add key="ClientPingInterval" value="30">
      <property type="string" description="Time interval that the client pings the server, in seconds" category="ConnectionSettings">
      </property>
    </add>
    <!-- Time interval that the client ask the server for a any outstanding data, in seconds
            This is only used with the Poll Connection mode-->
    <add key="ClientPollTime" value="2">
      <property type="string" description="Time interval that the client ask the server for a any outstanding data, in seconds. This is only used with the Poll Connection mode" category="ConnectionSettings">
      </property>
    </add>
    <!-- Time interval that the client will use to retry a failed login attempt, in seconds. Set to 0 to disable.
      -->
    <add key="RetryLoginTime" value="15">
      <property type="string" description="Time interval that the client will use to retry a failed login attempt, in seconds. Set to 0 to disable." category="ConnectionSettings">
      </property>
    </add>
    <!-- Binding network address-->
    <add key="NetworkBindAddress" value="">
      <property type="string" description="[Deprecated] The IP address to which the client must bind to. If this setting is empty the client will bind to the default IP address" category="ConnectionSettings">
      </property>
    </add>
    <!-- The UDP port range on which the client must listen for server broadcasts-->
    <add key="BroadcastPortRange" value="11000-11100">
      <property type="string" description="The UDP port range which the client must listen on for Server broadcasts" category="ConnectionSettings">
      </property>
    </add>
    <add key="EncryptedPassword" value="Go4NBWwn7YgF+lYFBUDKaewEBQUFQMpp7AQFBQU=" />
  </ConnectionSettings>
  <ClusterSettings>
    <!--Is Clustering enabled for this Operator? -->
    <add key="ClusterEnabled" value="false">
      <property type="bool" description="Is Clustering enabled for this Operator? true = yes, false = no." category="ClusterSettings">
      </property>
    </add>
    <!-- The names of all the Clusters of which this client should be aware of. ";" Delimited.
   If the ServerName is the same as one of the ClusterNames, it indicates that it is part
   of that cluster.-->
    <add key="ClusterNames" value="Cluster1">
      <property type="string" description="The names of all the Clusters of which this client should be aware of. ; Delimited.&#xD;&#xA;   If the ServerName is the same as one of the ClusterNames, it indicates that it is part&#xD;&#xA;   of that cluster." category="ClusterSettings">
      </property>
    </add>
    <!-- Servers for each specified cluster. In the format: Clustername~Machinename~Port~CommunicationType~CommunicationMode;Clustername~Machinename~Port~CommunicationType~CommunicationMode;...
    In the case of a WebService, please specify in the following format: Cluster1:http://webservice/folder:80:WEBSERVICEDATAPROVIDER:SUBSCRIBE_POLL (or POLL) -->
    <add key="ClusterServers" value="Cluster1~Machine1~9000~MAINDATAPROVIDER~SUBSCRIBE;Cluster1~Machine2~8000~MAINDATAPROVIDER~SUBSCRIBE;Cluster1~Machine3~9000~MAINDATAPROVIDER~SUBSCRIBE">
      <property type="string" description="Servers for each specified cluster. In the format: Clustername~Machinename~Port~CommunicationType~CommunicationMode;Clustername~Machinename~Port~CommunicationType~CommunicationMode;...&#xD;&#xA;      In the case of a WebService, please specify in the following format: Cluster1:http://webservice/folder:80:WEBSERVICEDATAPROVIDER:SUBSCRIBE_POLL (or POLL)" category="ClusterSettings">
      </property>
    </add>
  </ClusterSettings>
  <FileDescription>
    <add key="FileDescription" value="The Operator is a &quot;smart client&quot; that can access to the configured&#xD;&#xA;graphic forms for the viewing and manipulation of data, over a LAN or over the Internet.&#xD;&#xA;The Operator provides a number of settings, which can be used to customize it to &#xD;&#xA;conform to your default requirements. These settings are initialized to default values &#xD;&#xA;once the installation has completed. The onus rests upon the user to provide the correct &#xD;&#xA;values when modifying settings, therefore if you are unsure about a setting, use the &#xD;&#xA;existing default value instead">
      <property type="string" description="" category="">
      </property>
    </add>
  </FileDescription>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>