<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="FileDescription" type="FileDescription"/>
      <section name="VIZNETSettings" type="System.Configuration.NameValueSectionHandler" />
   </configSections>
   <VIZNETSettings>
      <!-- licenced datasource guid attributes, seperated by ; not ending with ;-->
      <add key="AllowedDataSourcesGUID" value="viznet.adroit.licence.xml;viznet.opc.licence.xml;viznet.script.licence.xml;viznet.oledb.licence.xml" >
      <property type="string" description="The licenced datasource guid attributes, seperated by ; not ending with ;" category="VIP">
      </property>
    </add>   
      <!-- licenced datasource index labels [see AllowedDataSourcesGUID], seperated by ; not ending with ;-->
      <add key="AllowedDataSourcesNames" value="Adroit;OPC;Server Scripts;OLEDB" >
      <property type="string" description="licenced datasource index labels [see AllowedDataSourcesGUID], seperated by ; not ending with ;" category="VIP">
      </property>
    </add>   

      <!-- default email address to send the licence application to -->
      <add key="EMailTo" value="VIZNETLicense@adroit.co.za" >
      <property type="string" description="The default email address to send the licence application to" category="VIP">
      </property>
    </add>        
      
      <!-- connection licences key (*= provide option of unlimited), seperated by ; not ending with ;-->
      <add key="Connections" value="5;10;20;25;50;75;150">
      <property type="string" description="The connection licences key (*= provide option of unlimited), seperated by ; not ending with ;" category="VIP">
      </property>
    </add>         
     
      <!-- branding for OEM Register-->
      <add key="StartPageImageRelativePath" value="images\VIP Register.jpg" >
      <property type="file" description="Branding for OEM Register" category="Appearance">
      </property>
    </add>         
     
     <!-- Main VIP Register Window titlebar caption - blank hides titlebar-->
      <add key="TitleBarCaption" value="" >
      <property type="string" description="Main VIP Register Window titlebar caption - blank hides titlebar" category="Appearance">
      </property>
    </add>
     
     <add key="OEM License" value="false" >
       <property type="bool" description="true if this application is used as a OEM component registration application" category="OEM">
       </property>
     </add>
     
     <!-- licenced datasource index labels [see AllowedDataSourcesGUID], seperated by ; not ending with ;-->
     <add key="License Platform Datasources" value="" >
       <property type="string" description="if License VIZNET Platform is true, these datasources will be licensed with the VIZNET platform license , seperated by ; not ending with ; for example viznet.adroit.licence.xml;viznet.opc.licence.xml;viznet.script.licence.xml;viznet.oledb.licence.xml" category="OEM">
       </property>
     </add>
     
     <add key="License VIZNET Platform" value="false" >
       <property type="bool" description="true if this application is used to also license VIZNET, where VIZNET is used as the OEM platform" category="OEM">
       </property>
     </add>
     
     <add key="OEM ComponentNames" value="Alarm Management and Analysis" >
       <property type="string" description="licenced component index labels [see OEM ComponentGuids], seperated by ;" category="OEM">
       </property>
     </add>
     
     <add key="OEM ComponentGuids" value="viznet.adroitalarmanalysis.licence.xml" >
       <property type="string" description="the licenced component guid attributes, seperated by ; not ending with ;" category="OEM">
       </property>
     </add>
     
     <add key="OEM Licence Version" value="2" >
       <property type="string" description="the version to license this component against" category="OEM">
       </property>
     </add>

      <add key="ProductSuite" value="viznet" >
         <property type="string" description="The name of the product suite (used in output filename)" category="OEM">
         </property>
      </add>
		<!-- Product Color -->
		<add key="ProductColor" value="202,37,45">
			<property type="color" description="The Product Color - used to indicate the actual product within the product suite" category="">
			</property>
		</add>
   </VIZNETSettings>
   
   <FileDescription>
	<add key="FileDescription" value="The VIP Register allows a licensing authority or company that sells or provides the
VIP software, to customize the VIP Registration Wizard. The Register config file provides a number of 
settings, which can be used to customize it to conform to your default requirements. These settings 
are initialized to default values once the installation has completed. The onus rests upon the user 
to provide the correct values when modifying settings, therefore if you are unsure about a setting, 
use the existing default value instead" >
		<property type="string" description="" category="">
		</property>
	</add>
   </FileDescription>

  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
   <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
   </startup>
</configuration>
