<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ConnectionSettings" type="System.Configuration.NameValueSectionHandler">
    </section>
    <section name="DatasourceSettings" type="System.Configuration.NameValueSectionHandler">
    </section>
    <section name="FileDescription" type="FileDescription">
    </section>
    <section name="VIZNETSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <VIZNETSettings>
    <!--
            The seperator is used in data elementnames, for example "DataSourceName.Group1.Group2.Elementname
            has "." as the seperator. By default the seperator is "."
            This seperator can be overridden by each DataSourcePlugin though at code level
        
        <add key="Seperator" value="."/> 
        
        REMOVED FOR NOW
        -->
    <add key="DataSourceDirectory" value="C:\Program Files (x86)\Adroit Technologies\Adroit\SmartUI">
      <property type="path" description="" category="DataSources">
      </property>
    </add>
    <!-- Enable or Disable compression in the comms layer -->
    <add key="UseCompression" value="false">
      <property type="bool" description="Enable or Disable compression in the communication layer between client and server; NOTE: It is best to leave this 'false' in Designer and 'true' in Operator" category="Compression">
      </property>
    </add>
    <!-- The assembly file names to search through for DataSourcePlugins. Seperated by ";" -->
    <add key="DataSourceFileNames" value="*plugin*.dll;*server*.dll">
      <property type="string" description="The assembly file names to search through for DataSourcePlugins. Seperated by ;" category="DataSources">
      </property>
    </add>
    <add key="ProjectsDirectory" value="C:\ProgramData\Adroit Technologies\Adroit\SmartUI\Configurations\TMC\Projects">
      <property type="path" description="Persistence of Projects settings to directory:" category="Projects">
      </property>
    </add>
    <!-- persistence of profile settings to directory: -->
    <add key="ProfileDirectory" value="C:\ProgramData\Adroit Technologies\Adroit\SmartUI\Configurations\TMC\Data\">
      <property type="path" description="Persistence of profile settings to directory:" category="Profiles">
      </property>
    </add>
    <!-- persistence of Server Scripts to directory: -->
    <add key="ScriptDataSourceDirectory" value="C:\ProgramData\Adroit Technologies\Adroit\SmartUI\Configurations\TMC\Data\">
      <property type="path" description="Persistence of Server Scripts to directory:" category="Scripting">
      </property>
    </add>
    <!-- Use Of Agent Server Licensing -->
    <add key="AgentServerLicensing" value="true">
      <property type="bool" description="Make use of the Agent Server for obtaining licensing (this only applies for installations without a License File or HASP)" category="Licensing">
      </property>
    </add>
    <!-- Agent Server Licensing Settings -->
    <add key="AgentServerLicensingConnectionSettings" value="">
      <property type="string" description="If Agent Server Licensing should be used, which Agent Server should be connected to in the format COMPUTERNAME.AGENTSERVERNAME (If empty it will use the local Agent Server)" category="Licensing">
      </property>
    </add>
    <!-- Script References path, seperated by ; not ending with ;-->
    <add key="ReferencesPath" value="">
      <property type="path" description="Script References path, seperated by ; not ending with ;" category="Scripting">
      </property>
    </add>
    <!-- Save the Server settings along with the serializable DataSourcePlugins
        value: "true" - Save Server
               "false" - Dont Save Server
        -->
    <add key="SaveServerOnShutdown" value="false">
      <property type="bool" description="Save the Server settings along with the serializable DataSourcePlugins value: true - Save Server false - Dont Save Server" category="Server">
      </property>
    </add>
    <!-- The lease time for the MainDataProvider object. Set in hours. -->
    <add key="DataProviderLeaseTime" value="8736">
      <property type="string" description="[Deprecated]The lease time for the MainDataProvider object. Set in hours." category="">
      </property>
    </add>
    <!-- If not empty, these users specify the SUBSET of users that must be used by the Server. In other words
        these users will be the ONLY ones displayed as available for configuration within the environment.
        These subset of users should exist on the Workgroup/Domain specified in the 
        DomainName property. Seperated by ; -->
    <add key="UserSubset" value="">
      <property type="string" description="If not empty, these users specify the SUBSET of users that must be used by the Server. Seperated by ;&#xD;&#xA;        In other words these users will be the ONLY ones displayed as available for configuration within the environment.&#xD;&#xA;        These subset of users should exist on the Workgroup/Domain specified in the DomainName property." category="Security">
      </property>
    </add>
    <!-- If not empty, these groups specify the SUBSET of groups that must be used by the Server. In other words
        these groups will be the ONLY ones displayed as available for configuration within the environment.
        These subset of groups should exist on the Workgroup/Domain specified in the 
        DomainName property. Seperated by ; -->
    <add key="GroupSubset" value="">
      <property type="string" description="If not empty, these groups specify the SUBSET of groups that must be used by the Server. Seperated by ;&#xD;&#xA;        In other words these groups will be the ONLY ones displayed as available for configuration within the environment.&#xD;&#xA;        These subset of groups should exist on the Workgroup/Domain specified in the DomainName property." category="Security">
      </property>
    </add>
    <!-- These Groups are initially allowed (i.e. before security configuration has taken place) 
        , with regards to the services offered by the server. To change the setting after the server has created
        its storage use the Designer. Seperated by ; -->
    <add key="InitialServiceGroups" value="Users">
      <property type="string" description="These Groups are initially allowed (i.e. before security configuration has taken place) &#xD;&#xA;		, with regards to the services offered by the server; Seperated by ; This setting is loaded before the server starts up for&#xD;&#xA;		the first time. To change it afterwards use the Designer." category="Security">
      </property>
    </add>
    <!-- The Users that have FULL Access and Login rights. This setting is loaded before the server starts up for
		the first time. To change it afterwards use the Designer. These entities are always allowed. Seperated by ; -->
    <add key="GlobalSecurityUsers" value="feituser">
      <property type="string" description="The Users that have FULL Access and Login rights. These&#xD;&#xA;        entities are always allowed. Seperated by ; If empty, Administrator will be used. This setting is loaded before the server starts up for&#xD;&#xA;		the first time. To change it afterwards use the Designer." category="Security">
      </property>
    </add>
    <!-- The Groups that have FULL Access and Login rights.  This setting is loaded before the server starts up for
		the first time. To change it afterwards use the Designer.These entities are always allowed. Seperated by ; -->
    <add key="GlobalSecurityGroups" value="Administrators">
      <property type="string" description="The Groups that have FULL Access and Login rights.  This setting is loaded before the server starts up for the first time. To change it afterwards use the Designer.These entities are always allowed. Seperated by ; If empty, Administrators will be used" category="Security">
      </property>
    </add>
    <!-- The security domain for use with users and groups for this instance of the Server.
		Should be the same domain that the machine, on which the server runs, belongs to,
		or the machine name if not domain specific; If empty, the server will use the current machine name. -->
    <add key="DomainName" value="E2-0212-A2">
      <property type="string" description="The security domain for use with users and groups for this instance of the Server. Should be the same domain that the machine, on which the server runs, belongs to,&#xD;&#xA;		or the machine name if not domain specific; If empty, the server will use the current machine name." category="Security">
      </property>
    </add>
    <!-- This setting indicates whether or not to apply 21 CFR 11 Compliance to various porcesses wihtin the server. This setting must be accompanied with 
		a password when enabling or disabling-->
    <add key="21CFR11Enabled" value="false">
      <property type="bool" description="This setting indicates if Title 21 CFR Part 11 is enabled on this server" category="Security">
      </property>
    </add>
    <!-- This setting stores the encrypted password used by 21 CFR 11 when enabled on the server.-->
    <add key="21CFR11EncryptedPassword" value="">
      <property type="string" description="This setting stores the encrypted password for Title 21 CFR Part 11 when enabled on this server" category="Security">
      </property>
    </add>
    <!-- This setting stores the encrypted connection string for logging audit entries to an external OLE DB compliant database.-->
    <add key="AuditConnectionString" value="">
      <property type="string" description="This setting stores the encrypted connection string for logging audit entries to an external OLE DB compliant database" category="Security">
      </property>
    </add>
    <!-- The name for this Server. -->
    <add key="ServerName" value="E2-0212-A2">
      <property type="string" description="The name for this Server." category="Server">
      </property>
    </add>
    <!-- The periodical save time of the Server in seconds -->
    <add key="BackgroundSaveTime" value="86400">
      <property type="string" description="[Deprecated] Every how many seconds should the Server save its data?" category="Server">
      </property>
    </add>
    <!-- DataSources to load on Startup of the Server. In the following format:
		datasourcename:datasourcetype:connectionstring;datasourcename:datasourcetype:connectionstring -->
    <add key="AutoLoadDataSources" value="">
      <property type="string" description="DataSources to load on Startup of the Server. In the following format:&#xD;&#xA;		datasourcename:datasourcetype:connectionstring;datasourcename:datasourcetype:connectionstring; --PLEASE NOTE: In the case of a connectionstring using the ; as a seperator, use ~~ instead for this configuration setting's seperator" category="Server">
      </property>
    </add>
    <!-- Enable Debug Output to the EventLog and Console; true = Yes; false = No; -->
    <add key="DebugOutput" value="false">
      <property type="bool" description="Enable Debug Output to the EventLog and Console; true = Yes; false = No;" category="Server">
      </property>
    </add>
    <!-- The category that EventLog entries will be written to (A change to this settings may require a machine restart to take effect)-->
    <add key="EventLogCategory" value="Application">
      <property type="string" description="The category that EventLog entries will be written to. (A change to this settings may require a machine restart to take effect)" category="Server">
      </property>
    </add>
    <!-- EventLog entries generated will attempt to log to this machine -->
    <add key="EventLogMachine" value=".">
      <property type="string" description="EventLog entries generated will attempt to log to this machine" category="Server">
      </property>
    </add>
    <!-- The program or component that logged the event (A change to this settings may require a machine restart to take effect) -->
    <add key="EventLogSource" value="SmartUI Server">
      <property type="string" description="The program or component that logged the event. (A change to this settings may require a machine restart to take effect)" category="Server">
      </property>
    </add>
    <!-- The amount of threads the server must create for handling subscription callbacks -->
    <add key="CallBackThreadCount" value="10">
      <property type="string" description="[Deprecated] The amount of threads the server must create for handling subscription callbacks" category="">
      </property>
    </add>
    <!-- Should the Database activitymonitor be enabled? true = Yes; false = No; Use this
        option if you want to log all services requested and responded to from the server -->
    <add key="DBActivityMonitorEnabled" value="false">
      <property type="bool" description="[Deprecated] Should the Database activitymonitor be enabled? true = Yes; false = No; Use this&#xD;&#xA;        option if you want to log all services requested and responded to from the server" category="">
      </property>
    </add>
    <!-- The connection string for activities to be logged to a database from the Server, works in conjunction
		with DBActivityMonitorEnabled -->
    <add key="DBActivityMonitorConnectionString" value="Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Registry Path=;Jet OLEDB:Database Locking Mode=1;Jet OLEDB:Database Password=;Data Source=ServerActivity.mdb;Password=;Jet OLEDB:Engine Type=5;Jet OLEDB:Global Bulk Transactions=1;Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:System database=;Jet OLEDB:SFP=False;Extended Properties=;Mode=Share Deny None;Jet OLEDB:New Database Password=;Jet OLEDB:Create System Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;Jet OLEDB:Compact Without Replica Repair=False;User ID=Admin;Jet OLEDB:Encrypt Database=False">
      <property type="string" description="[Deprecated] The connection string for activities to be logged to a database from the Server, works in conjunction&#xD;&#xA;		with DBActivityMonitorEnabled" category="">
      </property>
    </add>
    <!-- Should the server pop-up an activity monitor in Console Mode? true = Yes; false = No; -->
    <add key="ActivityMonitorFormEnabled" value="true">
      <property type="bool" description="[Deprecated] Should the server pop-up an activity monitor in Console Mode? true = Yes; false = No;" category="">
      </property>
    </add>
    <!-- The title found in the Server Activity Window -->
    <add key="ActivityMonitorFormTitle" value="Adroit Smart UI Server">
      <property type="string" description="The title found in the Server Activity Window" category="Server">
      </property>
    </add>
    <!-- The color of the title found in the Server Activity Window -->
    <add key="ActivityMonitorFormTitleColor" value="White">
      <property type="string" description="The color of the title found in the Server Activity Window" category="Server">
      </property>
    </add>
    <!-- Should the AdroitDataSource include header slots? true = Yes; false = No; -->
    <add key="AdroitIncludeHeaderSlots" value="false">
      <property type="bool" description="[Deprecated] Should the AdroitDataSource include header slots? true = Yes; false = No;" category="DataSources">
      </property>
    </add>
    <!-- Should the Server backup its data files? true = Yes; false = No; -->
    <add key="BackupEnabled" value="True">
      <property type="bool" description="Should the Server backup its data files? true = Yes; false = No;" category="Server">
      </property>
    </add>
    <!-- If BackupEnabled is true, how many days should the backup files be kept? -->
    <add key="BackupDays" value="5">
      <property type="string" description="If BackupEnabled is true, how many days should the backup files be kept?" category="">
      </property>
    </add>
    <!-- The folder where the Server must store data files -->
    <add key="PersistenceFolder" value="">
      <property type="string" description="The folder where the Server must store data files. If empty, will use the main program folder" category="Server">
      </property>
    </add>
    <!-- The folder where the Server will look for its license file -->
    <add key="LicenseFolder" value="">
      <property type="string" description="The folder where the Server will look for its license file. If empty, will use the main program folder" category="Server">
      </property>
    </add>
    <!-- This setting determines the timespan (in seconds) within which clients that make use of polling 
		must respond within to prevent the server from disconnecting them. Ensure that this setting is at least 
		twice as long as the client with the longest poll time. This ensures that clients making use of polling
		does not keep a server license checked out even after they are not connected anymore and can occur 
		in situations where the client does not disconnect properly. -->
    <add key="PollClientsResponseThreshold" value="120">
      <property type="string" description="his setting determines the timespan (in seconds) within which clients that make use of polling &#xD;&#xA;		must respond within to prevent the server from disconnecting them. Ensure that this setting is at least &#xD;&#xA;		twice as long as the client with the longest poll time. This ensures that clients making use of polling&#xD;&#xA;		does not keep a server license checked out even after they are not connected anymore and can occur &#xD;&#xA;		in situations where the client does not disconnect properly." category="">
      </property>
    </add>
    <!-- Product Name -->
    <add key="ProductName" value="Adroit Smart UI">
      <property type="string" description="Specify the product name that will be displayed permenantly in the status bar at the bottom right-left corner of the Designer." category="">
      </property>
    </add>
    <!-- Product Color -->
    <add key="ProductColor" value="202,37,45">
      <property type="color" description="The Product Color - used to indicate the actual product within the product suite" category="">
      </property>
    </add>
    <!-- Product Version -->
    <add key="ProductVersion" value="[8.3.0.0]">
      <property type="string" description="Specify the product version that will be displayed permenantly in the status bar at the bottom right-left corner of the Designer." category="">
      </property>
    </add>
    <!-- Force language -->
    <add key="ForceLanguage" value="">
      <property type="string" description="Force a specific language when running this application; Language code must be used i.e. German=de, Japanese=ja English=en etc." category="">
      </property>
    </add>
    <!-- Specify the target framework version to be used when compiling and running Scripts)-->
    <add key="TargetFramework" value="v4.0">
      <property type="ilist" description="Specify the target framework version to be used when compiling and running Scripts" category="Scripting" ilist="v2.0;v3.5;v4.0">
      </property>
    </add>
    <add key="ScriptDebuggingEnabled" value="False" />
    <add key="DataElementCachingEnabled" value="False" />
  </VIZNETSettings>
  <ConnectionSettings>
    <!-- The TCP/IP port of the Server-->
    <add key="ServerPort" value="9000">
      <property type="string" description="The TCP/IP port which the Server must listen on" category="ConnectionSettings">
      </property>
    </add>
    <!-- Binding network address-->
    <add key="NetworkBindAddress" value="">
      <property type="string" description="[Deprecated] The IP address to which the Server must bind to. If this setting is empty the Server will listen on the default IP address" category="ConnectionSettings">
      </property>
    </add>
    <!-- Broadcast time period-->
    <add key="BroadcastTimePeriod" value="2000">
      <property type="string" description="If BroadcastEnabled, the Server will broadcast its availability periodically as specified by this property (in milliseconds)" category="ConnectionSettings">
      </property>
    </add>
    <!-- Should the Server broadcast or not?-->
    <add key="BroadcastEnabled" value="false">
      <property type="bool" description="Perform a network broadcast of the Server's availability" category="ConnectionSettings">
      </property>
    </add>
    <!-- The UDP port range on which the Server must broadcast its availability-->
    <add key="BroadcastPortRange" value="11000-11010">
      <property type="string" description="The UDP port range which the Server must broadcast its availability on" category="ConnectionSettings">
      </property>
    </add>
  </ConnectionSettings>
  <DatasourceSettings>
    <add key="MinimumScriptSchedulingTime" value="30">
      <property type="string" description="The minimum interval time (in seconds) for scheduling of a script in a Script Datasource" category="DatasourceSettings">
      </property>
    </add>
    <add key="OLEDBCommandTimeOut" value="30000">
      <property type="string" description="The period where an OLEDB Command will TimeOut" category="DatasourceSettings">
      </property>
    </add>
    <add key="SuppressAdroitPutslotErrors" value="false">
      <property type="bool" description="If this value is set to true, any errors generated by putlots to Adroit will be suppressed" category="DatasourceSettings">
      </property>
    </add>
  </DatasourceSettings>
  <FileDescription>
    <add key="FileDescription" value="The Server is an application which displays the Activity Monitor&#xD;&#xA;that provides diagnostic features. The Server is a &quot;data portal&quot; that exposes data from a number of&#xD;&#xA;disparate sources, both external and internal to it. The Server provides a number of settings, which &#xD;&#xA;can be used to customize it to conform to your default requirements. These settings are initialized to &#xD;&#xA;default values once the installation has completed. The onus rests upon the user to provide the &#xD;&#xA;correct values when modifying settings, therefore if you are unsure about a setting, use the existing &#xD;&#xA;default value instead">
      <property type="string" description="" category="">
      </property>
    </add>
  </FileDescription>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
</configuration>